# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones


    sensio_framework_extra.view.listener:
        alias: Sensio\Bundle\FrameworkExtraBundle\EventListener\TemplateListener

    aws_client_service:
        class: Aws\S3\S3Client
        arguments:
            -
                version: 'latest'
                use_path_style_endpoint: true
                endpoint: '%env(AWS_S3_ENDPOINT)%'
                region: 'us-east-1'
                credentials:
                    key: '%env(AWS_S3_ACCESS_KEY)%'
                    secret: '%env(AWS_S3_SECRET_KEY)%'

    App\Service\File\FileUploaderInterface: '@App\Service\File\S3FileUploader'

    App\EventSubscriber\MailerSubscriber:
        arguments:
            $sender: '%env(MAIL_FROM)%'

    App\Service\FrontendLinkService:
        arguments:
            $frontUrl: '%env(FRONT_URL)%'

    App\Service\AuthOperation\VerificationProcessor:
        arguments:
            $operationTtl: 3600